extends layout

block content

    h1 #{title } #{author.name}

    p #{author.birth_date_formatted} - #{author.death_date_formatted}

    div(style = 'margin-left:20px; margin-top:20px')
        p #[strong Books By ] #{author.name} :

        dl
        each book in authors_books
            dt 
                a(href= book.url) #{book.title} 
            dd #{book.summary}

        else
            p This author has no books
    a(href=author.delete) Delete Author

    
        
    
